html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}audio,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}img{border:0}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=submit]{-webkit-appearance:button;cursor:pointer;box-sizing:border-box}input[type=text]{-webkit-appearance:none;appearance: none;box-sizing:border-box}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;box-sizing:border-box;border-color:#ddd}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

body,div{font-size:0;}
p, span,h1,h2,h3,h4,h5,h6{margin:0;word-spacing:normal;word-wrap:break-word;-ms-word-wrap:break-word;pointer-events:auto;}
sup{font-size:inherit;vertical-align:baseline;position:relative;top:-0.4em;}
sub{font-size:inherit;vertical-align:baseline;position:relative;top:0.4em;}
ul{display:block;word-spacing:normal;word-wrap:break-word;list-style-type:none;margin:0;-moz-padding-start:0;-khtml-padding-start:0;-webkit-padding-start:0;-o-padding-start:0;-padding-start:0;-webkit-margin-before:0;-webkit-margin-after:0;}
li{display:block;}
li p{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select::none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
form{display:inline-block;}
a{text-decoration:inherit;color:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0);}
textarea{resize:none;}
.shm-l{float:left;clear:left;}
.shm-r{float:right;clear:right;}
.whitespacefix{word-spacing:-1px;}
video:not(#video_background):not(.videoinline){width:100%;max-width:900px;}
video:-webkit-full-screen{max-width:100% !important;}
video:-moz-full-screen{max-width:100% !important;}
video:-ms-fullscreen{max-width:100% !important;}
video:fullscreen{max-width:100% !important;}
.player1.fullscreen1-active video{max-width:100% !important;}
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
#body{background-color:rgb(255,255,255);}
.pos{position:relative;margin-top:1px;}
.vis{display:block;vertical-align:top;}
.section{pointer-events:none;min-width:960px;width:960px;margin-left:auto;margin-right:auto;}
.vis-2{display:inline-block;vertical-align:top;}
.pos-2{position:relative;margin-left:0;margin-top:0;}
.size{min-width:960px;width:960px;min-height:590px;}
.colwrapper{line-height:0;}
.size-2{min-width:960px;width:960px;min-height:450px;height:450px;}
.cont-2{z-index:1;pointer-events:auto;}
.img{position:absolute;left:0;width:960px;height:450px;top:0;border:0;}
.img-2{left:0;width:960px;height:450px;top:0;display:inline-block;}
.pos-3{position:relative;margin-left:644px;margin-top:-442px;}
.size-3{min-width:196px;width:196px;min-height:37px;}
.vis-3{display:inline-block;vertical-align:top;overflow:hidden;}
.size-4{min-width:132px;width:132px;min-height:37px;height:37px;}
.cont-3{z-index:19;pointer-events:auto;}
.para{padding-top:0;text-indent:0;padding-right:0;text-align:left;}
.font{font-family:"PingFang SC", sans-serif;font-size:12px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,255,255);background-color:initial;line-height:15px;letter-spacing:normal;text-shadow:none;}
.pos-4{position:relative;margin-left:64px;margin-top:-37px;}
.size-5{min-width:132px;width:132px;min-height:37px;}
.cont-4{z-index:20;pointer-events:auto;}
.font-2{font-family:"PingFang SC", sans-serif;font-size:12px;font-weight:700;font-style:normal;text-decoration:underline;text-transform:none;color:rgb(255,255,255);background-color:initial;line-height:15px;letter-spacing:normal;text-shadow:none;}
.pos-5{position:relative;margin-left:66px;margin-top:-37px;}
.size-6{min-width:62px;width:62px;min-height:37px;height:37px;}
.cont-5{z-index:22;pointer-events:auto;}
.pos-6{position:relative;margin-left:624px;margin-top:-249px;}
.size-7{min-width:177px;width:177px;min-height:83px;height:83px;}
.cont-6{z-index:23;pointer-events:auto;}
.para-2{padding-top:0;text-indent:0;padding-right:0;text-align:right;}
.font-3{font-family:"PingFang SC", sans-serif;font-size:14px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,255,255);background-color:initial;line-height:25px;letter-spacing:0.15px;text-shadow:none;}
.font-4{font-family:"PingFang SC", sans-serif;font-size:14px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,255,255);background-color:initial;line-height:25px;letter-spacing:0.35px;text-shadow:none;}
.font-5{font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;font-size:14px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,255,255);background-color:initial;line-height:22px;letter-spacing:0.15px;text-shadow:none;}
.font-6{font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;font-size:14px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,255,255);background-color:initial;line-height:22px;letter-spacing:-3.45px;text-shadow:none;}
.pos-7{position:relative;margin-left:157px;margin-top:-65px;}
.size-8{min-width:644px;width:644px;min-height:205px;}
.pos-8{position:relative;margin-left:124px;margin-top:0;}
.size-9{min-width:419px;width:419px;min-height:131px;height:131px;}
.cont-7{z-index:2;pointer-events:auto;}
.font-7{font-family:"Arial Unicode MS", sans-serif;font-size:50px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(220,50,47);background-color:initial;line-height:94px;letter-spacing:9.80px;text-shadow:none;}
.pos-9{position:relative;margin-left:0;margin-top:-25px;}
.size-10{min-width:644px;width:644px;min-height:99px;height:99px;}
.cont-8{z-index:3;pointer-events:auto;}
.img-3{position:absolute;left:8px;width:628px;height:99px;top:0;border:0;}
.img-4{left:8px;width:628px;height:99px;top:0;display:inline-block;}
.pos-10{position:relative;margin-left:160px;margin-top:0;}
.size-11{min-width:730px;width:730px;min-height:157px;}
.pos-11{position:relative;margin-left:0;margin-top:8px;}
.size-12{min-width:193px;width:193px;min-height:149px;}
.size-13{min-width:193px;width:193px;min-height:55px;height:55px;}
.cont-9{z-index:7;pointer-events:auto;}
.font-8{font-family:"PingFang SC", sans-serif;font-size:11px;font-weight:500;font-style:normal;text-decoration:none;text-transform:none;color:rgb(82,100,111);background-color:initial;line-height:13px;letter-spacing:0.30px;text-shadow:none;}
.pos-12{position:relative;margin-left:1px;margin-top:-39px;}
.size-14{min-width:29px;width:29px;min-height:2px;height:2px;}
.cont-10{z-index:31;border:0;background-color:rgb(82,100,111);}
.pos-13{position:relative;margin-left:0;margin-top:-11px;}
.size-15{min-width:183px;width:183px;min-height:105px;height:105px;}
.cont-11{z-index:5;pointer-events:auto;}
.img-5{position:absolute;left:0;width:183px;height:105px;top:0;border:0;}
.img-6{left:0;width:183px;height:105px;top:0;display:inline-block;}
.pos-14{position:relative;margin-left:38px;margin-top:52px;}
.size-16{min-width:179px;width:179px;min-height:105px;height:105px;}
.cont-12{z-index:4;pointer-events:auto;}
.img-7{position:absolute;left:0;width:179px;height:103px;top:1px;border:0;}
.img-8{left:0;width:179px;height:103px;top:1px;display:inline-block;}
.pos-15{position:relative;margin-left:-20px;margin-top:0;}
.size-17{min-width:193px;width:193px;min-height:55px;}
.cont-13{z-index:25;pointer-events:auto;}
.font-9{font-family:"Arial Unicode MS", sans-serif;font-size:11px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(82,100,111);background-color:initial;line-height:20px;letter-spacing:0.30px;text-shadow:none;}
.pos-16{position:relative;margin-left:1px;margin-top:-37px;}
.size-18{min-width:177px;width:177px;min-height:3px;}
.size-19{min-width:29px;width:29px;min-height:3px;height:3px;}
.cont-14{z-index:29;border:0;background-color:rgb(82,100,111);}
.pos-17{position:relative;margin-left:119px;margin-top:0;}
.size-20{min-width:29px;width:29px;min-height:3px;height:3px;}
.cont-15{z-index:30;border:0;background-color:rgb(82,100,111);}
.pos-18{position:relative;margin-left:454px;margin-top:-105px;}
.size-21{min-width:177px;width:177px;min-height:102px;height:102px;}
.cont-16{z-index:8;pointer-events:auto;}
.img-9{position:absolute;left:0;width:177px;height:102px;top:0;border:0;}
.img-10{left:0;width:177px;height:102px;top:0;display:inline-block;}
.pos-19{position:relative;margin-left:537px;margin-top:-156px;}
.size-22{min-width:193px;width:193px;min-height:55px;height:55px;}
.cont-17{z-index:27;pointer-events:auto;}
.font-10{font-family:Arial, Helvetica, sans-serif;font-size:11px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(82,100,111);background-color:initial;line-height:18px;letter-spacing:0.30px;text-shadow:none;}
.pos-20{position:relative;margin-left:159px;margin-top:5px;}
.size-23{min-width:632px;width:632px;min-height:193px;}
.pos-21{position:relative;margin-left:0;margin-top:4px;}
.size-24{min-width:193px;width:193px;min-height:189px;}
.pos-22{position:relative;margin-left:0;margin-top:0;}
.size-25{min-width:193px;width:193px;min-height:55px;height:55px;}
.cont-18{z-index:6;pointer-events:auto;}
.font-11{font-family:"PingFang SC", sans-serif;font-size:12px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:15px;letter-spacing:0.30px;text-shadow:none;}
.pos-23{position:relative;margin-left:0;margin-top:-22px;}
.size-26{min-width:184px;width:184px;min-height:156px;}
.size-27{min-width:161px;width:161px;min-height:53px;height:53px;}
.cont-19{z-index:11;pointer-events:auto;}
.font-12{font-family:"PingFang SC", sans-serif;font-size:10px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(130,147,158);background-color:initial;line-height:14px;letter-spacing:0.50px;text-shadow:none;}
.pos-24{position:relative;margin-left:1px;margin-top:-2px;}
.size-28{min-width:183px;width:183px;min-height:105px;height:105px;}
.cont-20{z-index:10;pointer-events:auto;}
.img-11{position:absolute;left:0;width:182px;height:105px;top:0;border:0;}
.img-12{left:0;width:182px;height:105px;top:0;display:inline-block;}
.pos-25{position:relative;margin-left:38px;margin-top:88px;}
.size-29{min-width:180px;width:180px;min-height:103px;height:103px;}
.img-13{position:absolute;left:0;width:180px;height:103px;top:0;border:0;}
.img-14{left:0;width:180px;height:103px;top:0;display:inline-block;}
.pos-26{position:relative;margin-left:-179px;margin-top:4px;}
.size-30{min-width:183px;width:183px;min-height:90px;}
.size-31{min-width:183px;width:183px;min-height:32px;height:32px;}
.cont-21{z-index:28;pointer-events:auto;}
.pos-27{position:relative;margin-left:0;margin-top:3px;}
.size-32{min-width:183px;width:183px;min-height:55px;height:55px;}
.cont-22{z-index:13;pointer-events:auto;}
.font-13{font-family:"Arial Unicode MS", sans-serif;font-size:10px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(130,147,158);background-color:initial;line-height:14px;letter-spacing:normal;text-shadow:none;}
.font-14{font-family:"Helvetica Neue", sans-serif;font-size:10px;font-weight:200;font-style:normal;text-decoration:none;text-transform:none;color:rgb(130,147,158);background-color:initial;line-height:12px;letter-spacing:normal;text-shadow:none;}
.pos-28{position:relative;margin-left:40px;margin-top:0;}
.size-33{min-width:177px;width:177px;min-height:190px;}
.pos-29{position:relative;margin-left:0;margin-top:0;}
.size-34{min-width:133px;width:133px;min-height:76px;}
.cont-23{z-index:14;pointer-events:auto;}
.font-15{font-family:"PingFang SC", sans-serif;font-size:12px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:15px;letter-spacing:normal;text-shadow:none;}
.pos-30{position:relative;margin-left:0;margin-top:-1px;}
.size-35{min-width:133px;width:133px;min-height:40px;height:40px;}
.cont-24{z-index:18;pointer-events:auto;}
.pos-31{position:relative;margin-left:0;margin-top:12px;}
.size-36{min-width:177px;width:177px;min-height:102px;height:102px;}
.cont-25{z-index:12;pointer-events:auto;}
.img-15{position:absolute;left:0;width:177px;height:102px;top:0;border:0;}
.img-16{left:0;width:177px;height:102px;top:0;display:inline-block;}
.pos-32{position:relative;margin-left:159px;margin-top:5px;}
.size-37{min-width:600px;width:600px;min-height:89px;}
.pos-33{position:relative;margin-left:0;margin-top:3px;}
.size-38{min-width:161px;width:161px;min-height:85px;}
.pos-34{position:relative;margin-left:1px;margin-top:0;}
.size-39{min-width:142px;width:142px;min-height:47px;height:47px;}
.cont-26{z-index:15;pointer-events:auto;}
.pos-35{position:relative;margin-left:0;margin-top:-15px;}
.size-40{min-width:161px;width:161px;min-height:53px;height:53px;}
.cont-27{z-index:21;pointer-events:auto;}
.pos-36{position:relative;margin-left:67px;margin-top:34px;}
.size-41{min-width:183px;width:183px;min-height:55px;height:55px;}
.cont-28{z-index:26;pointer-events:auto;}
.pos-37{position:relative;margin-left:-180px;margin-top:3px;}
.size-42{min-width:183px;width:183px;min-height:60px;height:60px;}
.cont-29{z-index:17;pointer-events:auto;}
.pos-38{position:relative;margin-left:42px;margin-top:0;}
.size-43{min-width:144px;width:144px;min-height:76px;}
.size-44{min-width:144px;width:144px;min-height:60px;height:60px;}
.cont-30{z-index:16;pointer-events:auto;}
.pos-39{position:relative;margin-left:0;margin-top:-39px;}
.size-45{min-width:133px;width:133px;min-height:55px;height:55px;}
.cont-31{z-index:24;pointer-events:auto;}
.pos-40{position:relative;margin-left:335px;margin-top:0;}
.size-46{min-width:370px;width:370px;min-height:117px;height:117px;}
.cont-32{z-index:32;pointer-events:auto;}
.font-16{font-family:"Arial Unicode MS", sans-serif;font-size:50px;font-weight:400;font-style:normal;text-decoration:underline;text-transform:none;color:rgb(220,50,47);background-color:initial;line-height:94px;letter-spacing:normal;text-shadow:none;}
.pos-41{position:relative;margin-left:152px;margin-top:0;}
.size-47{min-width:642px;width:642px;min-height:98px;}
.size-48{min-width:200px;width:200px;min-height:97px;height:97px;}
.cont-33{pointer-events:auto;}
.img-17{position:absolute;left:0;width:200px;height:97px;top:0;border:0;}
.img-18{left:0;width:200px;height:97px;top:0;display:inline-block;}
.pos-42{position:relative;margin-left:16px;margin-top:1px;}
.size-49{min-width:204px;width:204px;min-height:97px;height:97px;}
.img-19{position:absolute;left:0;width:204px;height:97px;top:0;border:0;}
.img-20{left:0;width:204px;height:97px;top:0;display:inline-block;}
.pos-43{position:relative;margin-left:18px;margin-top:1px;}
.pos-44{position:relative;margin-left:153px;margin-top:48px;}
.size-50{min-width:643px;width:643px;min-height:98px;}
.size-51{min-width:200px;width:200px;min-height:97px;height:97px;}
.img-21{position:absolute;left:0;width:200px;height:97px;top:0;border:0;}
.img-22{left:0;width:200px;height:97px;top:0;display:inline-block;}
.pos-45{position:relative;margin-left:17px;margin-top:1px;}
.pos-46{position:relative;margin-left:18px;margin-top:1px;}
.pos-47{position:relative;margin-left:154px;margin-top:43px;}
.size-52{min-width:643px;width:643px;min-height:98px;}
.pos-48{position:relative;margin-left:17px;margin-top:1px;}
.pos-49{position:relative;margin-left:154px;margin-top:48px;}
.size-53{min-width:200px;width:200px;min-height:97px;height:97px;}
.cont-34{z-index:42;pointer-events:auto;}
.img-23{position:absolute;left:0;width:200px;height:97px;top:0;border:0;}
.img-24{left:0;width:200px;height:97px;top:0;display:inline-block;}
.pos-50{position:relative;margin-left:17px;margin-top:1px;}
.size-54{min-width:204px;width:204px;min-height:97px;height:97px;}
.cont-35{z-index:43;pointer-events:auto;}
.img-25{position:absolute;left:0;width:204px;height:97px;top:0;border:0;}
.img-26{left:0;width:204px;height:97px;top:0;display:inline-block;}
.cont-36{z-index:44;pointer-events:auto;}
.pos-51{position:relative;margin-left:156px;margin-top:51px;}
.size-55{min-width:643px;width:643px;min-height:98px;}
.pos-52{position:relative;margin-left:17px;margin-top:1px;}
.pos-53{position:relative;margin-top:92px;}
.size-56{width:100%;min-width:960px;min-height:150px;height:150px;}
.cont-37{z-index:48;pointer-events:none;border:0;background-color:rgb(220,50,47);}
.pos-54{position:relative;margin-top:-96px;}
.pos-55{position:relative;margin-left:341px;margin-top:0;}
.size-57{min-width:259px;width:259px;min-height:43px;height:43px;}
.cont-38{z-index:49;pointer-events:auto;}
.img-27{position:absolute;left:0;width:259px;height:43px;top:0;border:0;}
.img-28{left:0;width:259px;height:43px;top:0;display:inline-block;}
.pos-56{position:relative;margin-left:-273px;margin-top:462px;}
.size-58{min-width:303px;width:303px;min-height:66px;height:66px;}
.cont-39{z-index:50;pointer-events:auto;}
.img-29{position:absolute;left:0;width:303px;height:51px;top:7px;border:0;}
.img-30{left:0;width:303px;height:51px;top:7px;display:inline-block;}
@media (max-width:959px) {
.pos{margin-top:0;}
.section{min-width:320px;width:320px;}
.size{min-width:320px;width:320px;min-height:197px;}
.size-2{min-width:320px;width:320px;min-height:150px;height:150px;}
.img{width:320px;height:150px;}
.img-2{width:320px;height:150px;}
.pos-3{margin-left:215px;margin-top:-147px;}
.size-3{min-width:65px;width:65px;min-height:12px;}
.size-4{min-width:44px;width:44px;min-height:12px;height:12px;}
.font{font-size:4px;line-height:5px;}
.pos-4{margin-left:21px;margin-top:-12px;}
.size-5{min-width:44px;width:44px;min-height:12px;}
.font-2{font-size:4px;line-height:5px;}
.pos-5{margin-left:22px;margin-top:-12px;}
.size-6{min-width:21px;width:21px;min-height:12px;height:12px;}
.pos-6{margin-left:208px;margin-top:-83px;}
.size-7{min-width:59px;width:59px;min-height:28px;height:28px;}
.font-3{font-size:4px;line-height:8px;}
.font-4{font-size:4px;line-height:8px;}
.font-5{font-size:4px;line-height:6px;}
.font-6{font-size:4px;line-height:6px;}
.pos-7{margin-left:52px;margin-top:-21px;}
.size-8{min-width:215px;width:215px;min-height:68px;}
.pos-8{margin-left:31px;}
.size-9{min-width:173px;width:173px;min-height:43px;height:43px;}
.font-7{font-size:16px;line-height:30px;}
.pos-9{margin-top:-8px;}
.size-10{min-width:215px;width:215px;min-height:33px;height:33px;}
.img-3{left:3px;width:210px;height:33px;}
.img-4{left:3px;width:210px;height:33px;}
.pos-10{margin-left:53px;}
.size-11{min-width:244px;width:244px;min-height:254px;}
.pos-11{margin-top:3px;}
.size-12{min-width:104px;width:104px;min-height:77px;}
.size-13{min-width:65px;width:65px;min-height:18px;height:18px;}
.font-8{font-size:3px;line-height:4px;}
.pos-12{margin-left:-64px;margin-top:5px;}
.size-14{min-width:9px;width:9px;min-height:1px;height:1px;}
.pos-13{margin-left:2px;margin-top:0;}
.size-15{min-width:102px;width:102px;min-height:59px;height:59px;}
.img-5{width:102px;height:59px;}
.img-6{width:102px;height:59px;}
.pos-14{margin-left:6px;margin-top:20px;}
.size-16{min-width:100px;width:100px;min-height:61px;height:61px;}
.img-7{width:100px;height:58px;}
.img-8{width:100px;height:58px;}
.pos-15{margin-left:130px;margin-top:-81px;}
.size-17{min-width:65px;width:65px;min-height:18px;}
.font-9{font-size:3px;line-height:5px;}
.pos-16{margin-top:-12px;}
.size-18{min-width:59px;width:59px;min-height:1px;}
.size-19{min-width:9px;width:9px;min-height:1px;height:1px;}
.pos-17{margin-left:40px;}
.size-20{min-width:10px;width:10px;min-height:1px;height:1px;}
.pos-18{margin-left:110px;margin-top:114px;}
.size-21{min-width:102px;width:102px;min-height:59px;height:59px;}
.img-9{width:102px;height:59px;}
.img-10{width:102px;height:59px;}
.pos-19{margin-left:179px;margin-top:-254px;}
.size-22{min-width:65px;width:65px;min-height:19px;height:19px;}
.font-10{font-size:3px;line-height:5px;}
.pos-20{margin-left:45px;margin-top:-171px;}
.size-23{min-width:219px;width:219px;min-height:199px;}
.pos-21{margin-top:0;}
.size-24{min-width:121px;width:121px;min-height:85px;}
.pos-22{margin-left:10px;}
.size-25{min-width:75px;width:75px;min-height:19px;height:19px;}
.font-11{font-size:4px;line-height:5px;}
.pos-23{margin-top:-6px;}
.size-26{min-width:121px;width:121px;min-height:72px;}
.size-27{min-width:54px;width:54px;min-height:18px;height:18px;}
.font-12{font-size:3px;line-height:4px;}
.pos-24{margin-left:0;margin-top:-5px;}
.size-28{min-width:121px;width:121px;min-height:59px;height:59px;}
.img-11{left:9px;width:103px;height:59px;}
.img-12{left:9px;width:103px;height:59px;}
.pos-25{margin-left:9px;margin-top:27px;}
.size-29{min-width:103px;width:103px;min-height:60px;height:60px;}
.img-13{width:103px;height:60px;}
.img-14{width:103px;height:60px;}
.pos-26{margin-left:9px;margin-top:-85px;}
.size-30{min-width:61px;width:61px;min-height:32px;}
.size-31{min-width:61px;width:61px;min-height:11px;height:11px;}
.size-32{min-width:61px;width:61px;min-height:18px;height:18px;}
.font-13{font-size:3px;line-height:4px;}
.font-14{font-size:3px;line-height:4px;}
.pos-28{margin-left:118px;margin-top:-146px;}
.size-33{min-width:101px;width:101px;min-height:173px;}
.pos-29{margin-left:2px;margin-top:148px;}
.size-34{min-width:45px;width:45px;min-height:25px;}
.font-15{font-size:4px;line-height:5px;}
.pos-30{margin-left:1px;margin-top:0;}
.size-35{min-width:44px;width:44px;min-height:13px;height:13px;}
.pos-31{margin-top:-173px;}
.size-36{min-width:101px;width:101px;min-height:59px;height:59px;}
.img-15{width:101px;height:59px;}
.img-16{width:101px;height:59px;}
.pos-32{margin-left:54px;margin-top:-112px;}
.size-37{min-width:158px;width:158px;min-height:119px;}
.pos-33{margin-top:0;}
.size-38{min-width:54px;width:54px;min-height:28px;}
.size-39{min-width:48px;width:48px;min-height:16px;height:16px;}
.pos-35{margin-top:-5px;}
.size-40{min-width:54px;width:54px;min-height:17px;height:17px;}
.pos-36{margin-left:-53px;margin-top:100px;}
.size-41{min-width:61px;width:61px;min-height:19px;height:19px;}
.pos-37{margin-left:-61px;margin-top:88px;}
.size-42{min-width:61px;width:61px;min-height:20px;height:20px;}
.pos-38{margin-left:48px;margin-top:1px;}
.size-43{min-width:48px;width:48px;min-height:25px;}
.size-44{min-width:48px;width:48px;min-height:20px;height:20px;}
.pos-39{margin-left:1px;margin-top:-13px;}
.size-45{min-width:44px;width:44px;min-height:18px;height:18px;}
.pos-40{margin-left:112px;margin-top:-1px;}
.size-46{min-width:123px;width:123px;min-height:39px;height:39px;}
.font-16{font-size:16px;line-height:30px;}
.pos-41{margin-left:47px;}
.size-47{min-width:214px;width:214px;min-height:32px;}
.size-48{min-width:66px;width:66px;min-height:32px;height:32px;}
.img-17{width:66px;height:32px;}
.img-18{width:66px;height:32px;}
.pos-42{margin-left:6px;margin-top:0;}
.size-49{min-width:68px;width:68px;min-height:32px;height:32px;}
.img-19{width:68px;height:32px;}
.img-20{width:68px;height:32px;}
.pos-43{margin-left:6px;margin-top:0;}
.pos-44{margin-left:47px;margin-top:16px;}
.size-50{min-width:214px;width:214px;min-height:33px;}
.size-51{min-width:67px;width:67px;min-height:33px;height:33px;}
.img-21{width:67px;height:33px;}
.img-22{width:67px;height:33px;}
.pos-45{margin-left:5px;}
.pos-46{margin-left:6px;}
.pos-47{margin-left:47px;margin-top:14px;}
.size-52{min-width:215px;width:215px;min-height:33px;}
.pos-48{margin-left:6px;}
.pos-49{margin-left:47px;margin-top:16px;}
.size-53{min-width:67px;width:67px;min-height:32px;height:32px;}
.img-23{width:67px;height:32px;}
.img-24{width:67px;height:32px;}
.pos-50{margin-left:6px;margin-top:0;}
.size-54{min-width:68px;width:68px;min-height:33px;height:33px;}
.img-25{width:68px;height:33px;}
.img-26{width:68px;height:33px;}
.pos-51{margin-left:48px;margin-top:17px;}
.size-55{min-width:214px;width:214px;min-height:32px;}
.pos-52{margin-left:5px;margin-top:0;}
.pos-53{margin-top:51px;}
.size-56{min-width:320px;min-height:50px;height:50px;}
.pos-54{margin-top:-190px;}
.pos-55{margin-left:113px;}
.size-57{min-width:86px;width:86px;min-height:14px;height:14px;}
.img-27{left:1px;width:85px;height:14px;}
.img-28{left:1px;width:85px;height:14px;}
.pos-56{margin-left:-90px;margin-top:154px;}
.size-58{min-width:101px;width:101px;min-height:22px;height:22px;}
.img-29{width:101px;height:17px;top:3px;}
.img-30{width:101px;height:17px;top:3px;}
}
